<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>Sign Up uwu</h1>
  <form action="/signup" method="post">
    <!-- {{user.name}} esto es para que no tenga que rellenar todos los datos denuevo cuando detecte un error el backend -->
    <input type="text" name="name" placeholder="Name..." required />
    <input type="email" name="email" placeholder="Email..." required />
    <input type="text" name="username" placeholder="Username..." required />
    <input type="datetime-local" name="birthday" placeholder="Birthday..." required />
    <input type="text" name="profilePic" placeholder="Profile pic..." required />
    <input type="password" name="password" placeholder="Password..." required />
    <input type="password" name="passwordRepeated" placeholder="Repeat password..." required />
    <button>Sign Up</button>
  </form>
</body>

</html>